.acousticTrash {
    cursor: pointer;
    margin-left: 1em;
}

.acousticTrash:hover {
    transform: scale(1.15);
}

.pen:hover {
    transform: scale(1.2)
}

.icon--acoustic:hover {
    transform: scale(1.1);
}

.acousticEditDelete {
    display: flex;
}

.acousticEntries {
    
}