.cabinetTrash {
    cursor: pointer;
    margin-left: 1em;
}

.cabinetTrash:hover {
    transform: scale(1.15);
}

.pen:hover {
    transform: scale(1.2)
}

.icon--cab:hover {
    transform: scale(1.1);
}

.cabinetEditDelete {
    display: flex;
}