.addGearButton, .logoName {
    display: table;
    margin: 0 auto;
    margin-top: 1em;
}

.ampButton, .pedalButton, .guitarButton, .cabinetButton, .ampHeadButton, .comboAmpButton, .overdriveButton, .modulationButton, .processorButton, .distortionButton, .acousticButton, .bassButton, .electricButton {
    width: 100%;
}