html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 4em;
}

.addGearButton {
    display: flex;
    margin: 0 auto;
    margin-top: -2.5em;
    margin-bottom: -1em;
}

.ampButton, .pedalButton, .guitarButton, .cabinetButton, .ampHeadButton, .comboAmpButton, .overdriveButton, .modulationButton, .processorButton, .distortionButton, .acousticButton, .bassButton, .electricButton, .practiceAmpButton, .fuzzButton, .acousticBassButton {
    width: 100%;
    padding-bottom: 1.3em;
}

.gearHome {
    background-color: white;
}