.pedalTrash {
    cursor: pointer;
    margin-left: 1em;
}

.pedalTrash:hover {
    transform: scale(1.15);
}

.pen:hover {
    transform: scale(1.2)
}

.icon--pedal:hover {
    transform: scale(1.1);
}

.pedalEditDelete {
    display: flex;
}

.pedalCard {
    float: left;
    margin: 0.5em;
}