html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    display: table;
    margin: 0;
}

.signInRegister {
    display: flex;
}

.signInCard, .registerCard {
    margin: 0 auto;
    margin-top: 1em;
}

.signInCard {
    margin-left: 17%;
}

.registerCard {
    margin-right: 17%;
}

.loginHeader, .loginFooter, .registerHeader, .registerFooter {
    background-color: #4385c6;
    color: white;
}

.signInButton, .registerButton, .passwordField, .emailField {
    width: 100%;
}

.formFooter {
    position: absolute;
}
