.loginForm {
    /* background-color: red; */
    display: table;
    margin: 0 auto;
    padding: 2em 5em 2em 5em;
}

.signInCard, .registerCard {
    width: 30%;
    display: table;
    margin: 0 auto;
    margin-top: 2em;
}

.signInButton, .registerButton, .passwordField, .emailField {
    width: 100%;
}

.acousticBackground {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('./gear/images/acoustic_background6.jpg')
}