.myGearButton, .logoutButton {
    float: left;
    flex-direction: row-reverse;
}

.nav-pills {
    flex-direction: row-reverse;
}


.icon--capstoneLogo {
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.gearLogout {
    position: fixed;
    position: absolute;
    top: 1em;
    right: 1em;
}